<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name = "beanCustomerRepository"
    class="jj.externalSorting.repository.HibernateCustomerRepositoryImplementation"/>
    <bean name="beanCustomerService"
    class = "jj.externalSorting.service.CustomerServiceImplementation">
        <constructor-arg index="0" ref="beanCustomerRepository"></constructor-arg>
       <!--
        in setter injection the line above was  <property name="customerRepository" ref="beanCustomerRepository"></property>
        - name is no longer applicable
        - in customerServiceImplementation we had the default no-args constructor
            but now for constructor injection we have added
            public CustomerServiceImplementation(CustomerRepository customerRepository) {
        this.customerRepository = customerRepository;
        and that plus this constructor arg is all it took to have constructor injection
    }

        -->
    </bean>


</beans>