<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name = "beanCustomerRepository"
    class="jj.externalSorting.repository.HibernateCustomerRepositoryImplementation"/>
    <bean name="beanCustomerService"
    class = "jj.externalSorting.service.CustomerServiceImplementation">
        <property name="customerRepository" ref="beanCustomerRepository"></property>
    </bean>


</beans>