<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name = "customerRepository"
    class="jj.externalSorting.repository.HibernateCustomerRepositoryImplementation"/>
    <bean name="beanCustomerService"
    class = "jj.externalSorting.service.CustomerServiceImplementation" autowire="byName">

        <!--

                autowire byName did not work at first because I had a been named beanCustomerRepository
                and it was looking for that in a setter
                for example if I made that setter to be setFoo, then instead of customer repository I would have to
                 have the bean name  "foo"

         -->
        <!--
 a

 -->
    </bean>


</beans>